@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

// font variables
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Libre Baskerville', serif;
$tertiary-font: 'Cardo', serif;
$quaternary-font: 'Source Sans Pro', sans-serif;

// color variables
$accent-color: #dca800;
$dark-gray: #1d1d1d;
$white: #fff;
